<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.safvan.kayakkool.flutter_thermal_printer_plus">
<!--    <uses-permission android:name="android.permission.BLUETOOTH" />-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />-->
<!--    <uses-permission android:name="android.permission.INTERNET" />-->
    <!-- Bluetooth permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Location permissions (required for Bluetooth scanning on Android 6+) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- For Android 12+ (API 31+) -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- Declare hardware features -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
</manifest>